body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}
.main {    

}

/*----HEAD-----*/
.header {

}

.header-link-logo { 
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
    text-decoration: none;   

}



.span-logo {
    font-family: "Raleway",
    sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-nav {

}

ul,
ol {
    list-style: none;
}

.header-nav-list {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-decoration: none;
   list-style-type: none;


}
.header-nav-item {
      
}

.header-link {
    
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.header-link:hover, .header-link:focus {
    color: #404bbf;
}

.header-link-studio {
    
    font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-decoration: none;
}

.header-link-studio:hover, 
.header-link-studio:active, 
.header-link-studio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;        
    color: #404bbf;
}

.header-contacts {
    

}
.header-contacts-list {
    list-style-type: none;
    
}
.contacts-item {
  

}
 
.contacts-link {
    
        font-family: "Roboto",
            sans-serif;
            font-weight: 400;
            font-size: 16px;
            line-height: 1.5;
            letter-spacing: 0.02em;
            color: #434455;
        text-decoration: none;
        font-style: normal;
}

.contacts-link:hover,
.contacts-link:focus {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #404bbf;
}

/*----SOLUTIONS-----*/

.solutions {
background-color: #2e2f42;
}

.solutions-title {
    font-family: "Roboto",
            sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;

}

.solutions-button {

      
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4d5ae5;
    cursor: pointer;
}

.solutions-button:hover,
.solutions-button:focus {
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background-color: #404bbf;
}


/*----FEATURES-----*/

.features {}

.features-title {}

.features-list { list-style-type: none;
   
}

.features-item {
    
}

.features-subtitle {
    
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
        text-align: left;
    }

.features-text {

    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
        text-align: left;
    }


/*----TEAM-----*/

.team {
    background-color: #f4f4fd;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
}

.team-title {
    font-family: "Roboto",
        sans-serif;
        font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-list { 
    
    list-style-type: none;

}


.team-item { 
    
    
    background: #fff

}

.team-item:hover {
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff
}
.team-img {

}

.team-subtitle {
    font-family: "Roboto",
        sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
font-family: "Roboto",
    sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/*------PORTFOLIO-----*/

.portfolio {}

.portfolio-title {
    font-weight: 700;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-list {

    list-style-type: none;
}

.portfolio-item {}

.portfolio-img {}

.portfolio-subtitle {
    font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}


/*----FOOTER-----*/


.footer {
    background-color: #2e2f42;
}

.footer-link {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
        text-decoration: none;
}

.span-logo {
    font-family: "Raleway",
        sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;
}

.footer-text {
    font-family: "Roboto",
        sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
}
